div {
  border: 1px solid black;
}
#IDpic {
  background: url("gvins.github.io/20170513 portrait 45x35.jpg") center center no-repeat;
  height: 300px;
}
.container {
  clear: left;
}
.description {
  position: relative;
  text-align: center;
  float: left;
}
