.IDpic {
  background: url("gvins.github.io/20170513 portrait 45x35.jpg") center center no-repeat;
  height: 300px;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
}
.headerBar {
  position: fixed;
  top: 0px;
  height: 300px;
  width: 100%;
  background-color: white;
  z-index: 1000;
}
.container {
  clear: left;
}
.content {
  position: relative;
  top: 300px;
}
.date {
  text-align: center;
}
